.wrapper{
    max-width: 960px; /* 20px smaller, to fit the paddings on the sides */
    margin: auto;
    padding: 10px;

}


.phasenavigation {
    height: 250px;
    width: 170px;
    margin:20px;
    padding: 20px;
    background-color: #B2D6FF;    /* Medium blue */
    float: left; 
}

  .globalvariables{
    height: 50px;
    float: left; 
    margin:20px;
    padding: 20px;
    background-color: #B2D6FF;    /* Medium blue */
    width: fit-content;
  }

  .phasedetaillist {
    height: 100px;
    width: 300px;
    margin:20px;
    padding: 20px;
    background-color: #B2D6FF;    /* Medium blue */
    
    float: left; 
}
.phaseform{
        width:800px;
        height: 800px;
        background-color: bisque;
        float: left;
        clear: left;
        margin:20px;
        padding: 20px;
    
}