<div class="wrapper">
  <div class="stepper-wrapper">
    <mat-horizontal-stepper linear="true" #stepper>
      <mat-step class="phase-selection" [stepControl]="phaseFormGroup">
        <div>
          <app-phase-navigation
            [phaseFormGroup]="phaseFormGroup"
            [phases]="phases"
            (phaseSelectedEventEmitter)="eventClickedPhase($event)"
          ></app-phase-navigation>
        </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step class="phase-detaillist" [stepControl]="phaseFormGroup">
        <div>
          <app-phase-detail
            [phaseDetailFormGroup]="phaseDetailFormGroup"
            [phases]="phases"
            [selectedPhase]="selectedPhase"
            (phaseDetailSelectedEventEmitter)="eventClickedPhaseDetail($event)"
          ></app-phase-detail>
        </div>
        <button mat-button matStepperPrevious>Back</button>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

  <div class="phase-form" *ngIf="selectedPhaseDetail">
    <app-phase-form
      [selectedPhaseDetail]="selectedPhaseDetail"
      [phases]="phases"
      [callsign]="callsign"
    ></app-phase-form>
  </div>
</div>
