.stepper-wrapper {
  margin: 10px;
}

mat-horizontal-stepper {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.phase-selection {
  min-height: 120px;
}

.phase-detaillist {
  min-height: 120px;
}
.phase-form {
  margin-top: 50px;
}
